<ion-header>
  <ion-toolbar>
    <ion-title>Add Todo</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="stacked">Title</ion-label>
    <ion-input [(ngModel)]="title"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Due Date</ion-label>
    <ion-datetime [(ngModel)]="dueDate"></ion-datetime>
  </ion-item>

  <ion-button expand="block" (click)="addTodo()">Add</ion-button>
</ion-content>